.navbar {
    background-color: #333;
    padding: 1rem;
    position: fixed; 
    width: 100%; 
    top: 0; 
    left: 0;
    z-index: 1000; 
  }

  .navbar-item a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  .navbar-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  .navbar-item a:hover {
    background-color: #575757;
    border-radius: 4px;
  }